@media only screen and (max-width: 1024px){

nav{
    background-color: rgba(240, 240, 240, 1);
    margin: auto;
    max-width: 800px;
    orientation: landscape;
}

a.mille{
    display: flex;
}

a.sixcent, a.huitcent, a.Iphone{
    display: none;
}
    
h1{
    color: rgba(200, 200, 200, 1);
    padding-top: 10px;
    padding-left: 10px;
}
    
a{
    color: rgba(100, 120, 210, 1);
    font-weight: bold;
    padding-left: 10px;
}
    
.regle p{
    color: rgba(125, 125, 125, 1);
    padding-left: 10px;
    margin-bottom: 10px;
}
    
div.regle{
    background-color: rgba(240, 240, 240, 1)
}
    
div.mille, div.paysage{
    background-color: rgba(100, 120, 210, 1);
    margin: 1px 5px;
}
    
div.mille p, div.paysage p{
    color: white;
    padding : 10px 20px;
}
    
div.sixcent, div.huitcent, div.Iphone, div.portrait{
    background-color: white;
    margin: 1px 5px;
}
    
div.sixcent p, div.huitcent p, div.Iphone p, div.portrait p{
    color: black;
    padding : 10px 20px;
}
    
div.paysage{
    margin-bottom: 5px;
}
    
}

@media only screen and (max-width: 800px){

nav{
    background-color: rgba(240, 240, 240, 1);
    margin: auto;
    max-width: 800px;
    orientation: landscape;
}

a.huitcent{
    display: flex;
}

a.sixcent, a.mille, a.Iphone{
    display: none;
}
    
h1{
    color: rgba(200, 200, 200, 1);
    padding-top: 10px;
    padding-left: 10px;
}

a{
    color: rgba(100, 120, 210, 1);
    font-weight: bold;
    padding-left: 10px;
}
    
.regle p{
    color: rgba(125, 125, 125, 1);
    padding-left: 10px;
    margin-bottom: 10px;
}
    
div.regle{
    background-color: rgba(240, 240, 240, 1)
}

div.huitcent, div.paysage{
    background-color: rgba(100, 120, 210, 1);
    margin: 1px 5px;
}
    
div.huitcent p, div.paysage p{
    color: white;
    padding : 10px 20px;
}
    
div.sixcent, div.mille, div.Iphone, div.portrait{
    background-color: white;
    margin: 1px 5px;
}
    
div.sixcent p, div.mille p, div.Iphone p, div.portrait p{
    color: black;
    padding : 10px 20px;
}
    
div.paysage{
    margin-bottom: 5px;
}
    
}

@media only screen and (max-width: 640px){

nav{
    background-color: rgba(240, 240, 240, 1);
    margin: auto;
    max-width: 800px;
    orientation: landscape;
}

a.sixcent{
    display: flex;
}

a.huitcent, a.mille, a.Iphone{
    display: none;
}
        
h1{
    color: rgba(200, 200, 200, 1);
    padding-top: 10px;
    padding-left: 10px;
}
        
a{
    color: rgba(100, 120, 210, 1);
    font-weight: bold;
    padding-left: 10px;
}
        
.regle p{
    color: rgba(125, 125, 125, 1);
    padding-left: 10px;
    margin-bottom: 10px;
}
        
div.regle{
    background-color: rgba(240, 240, 240, 1)
}
        
div.sixcent, div.paysage{
    background-color: rgba(100, 120, 210, 1);
    margin: 1px 5px;
}
        
div.sixcent p, div.paysage p{
    color: white;
    padding : 10px 20px;
}
        
div.huitcent, div.mille, div.Iphone, div.portrait{
    background-color: white;
    margin: 1px 5px;
}
        
div.huitcent p, div.mille p, div.Iphone p, div.portrait p{
    color: black;
    padding : 10px 20px;
}
        
div.paysage{
    margin-bottom: 5px;
}
        
}

@media only screen and (max-width: 480px){

    nav{
        background-color: rgba(240, 240, 240, 1);
        margin: auto;
        max-width: 800px;
        orientation: landscape;
    }
    
    a.Iphone{
        display: flex;
    }
    
    a.huitcent, a.mille, a.sixcent{
        display: none;
    }
            
    h1{
        color: rgba(200, 200, 200, 1);
        padding-top: 10px;
        padding-left: 10px;
    }
            
    a{
        color: rgba(100, 120, 210, 1);
        font-weight: bold;
        padding-left: 10px;
    }
            
    .regle p{
        color: rgba(125, 125, 125, 1);
        padding-left: 10px;
        margin-bottom: 10px;
    }
            
    div.regle{
        background-color: rgba(240, 240, 240, 1)
    }
            
    div.Iphone, div.paysage{
        background-color: rgba(100, 120, 210, 1);
        margin: 1px 5px;
    }
            
    div.Iphone p, div.paysage p{
        color: white;
        padding : 10px 20px;
    }
            
    div.huitcent, div.mille, div.sixcent, div.portrait{
        background-color: white;
        margin: 1px 5px;
    }
            
    div.huitcent p, div.mille p, div.sixcent p, div.portrait p{
        color: black;
        padding : 10px 20px;
    }
            
    div.paysage{
        margin-bottom: 5px;
    }
            
    }